:root {
  --_11hoq0q0: Helvetica, arial, sans-serif;
  --_11hoq0q1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_11hoq0q2: normal 10px Helvetica, arial, sans-serif;
  --_11hoq0q3: normal 12px Helvetica, arial, sans-serif;
  --_11hoq0q4: normal 14px Helvetica, arial, sans-serif;
  --_11hoq0q5: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_11hoq0q6: 100;
  --_11hoq0q7: 700;
  --_11hoq0q8: 4px;
  --_11hoq0q9: 2px;
  --_11hoq0qa: 4px;
  --_11hoq0qb: 6px;
  --_11hoq0qc: 100%;
  --_11hoq0qd: 70px;
  --_11hoq0qe: 44px;
  --_11hoq0qf: opacity 300ms ease, transform 300ms ease;
  --_11hoq0qg: opacity 200ms ease, transform 200ms ease;
  --_11hoq0qh: opacity 100ms ease, transform 100ms ease;
  --_11hoq0qi: 0;
  --_11hoq0qj: 2px;
  --_11hoq0qk: 4px;
  --_11hoq0ql: 6px;
  --_11hoq0qm: 12px;
  --_11hoq0qn: 16px;
  --_11hoq0qo: 20px;
  --_11hoq0qp: 40px;
}
:root {
  --_11hoq0qq: #000;
  --_11hoq0qr: #040080;
  --_11hoq0qs: #005ad2;
  --_11hoq0qt: #00439c;
  --_11hoq0qu: #00439c;
  --_11hoq0qv: #0088ff;
  --_11hoq0qw: #75438a;
  --_11hoq0qx: #a7a7a7;
  --_11hoq0qy: #515151;
  --_11hoq0qz: #fff;
  --_11hoq0q10: #a7a7a7;
  --_11hoq0q11: #cd193d;
  --_11hoq0q12: #005ad2;
  --_11hoq0q13: #1da584;
  --_11hoq0q14: rgba(0, 0, 0, .05);
  --_11hoq0q15: #005ad2;
  --_11hoq0q16: #c5f5e9;
  --_11hoq0q17: #fee1e9;
  --_11hoq0q18: #1e1e1e;
  --_11hoq0q19: #fff;
  --_11hoq0q1a: #f4f4f4;
  --_11hoq0q1b: #e5f3ff;
  --_11hoq0q1c: #e8e8e8;
  --_11hoq0q1d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_11hoq0q1e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_11hoq0qq: #f6f8fa;
  --_11hoq0qr: #c8e1f7;
  --_11hoq0qs: #68aeea;
  --_11hoq0qt: #97c8f1;
  --_11hoq0qu: #97c8f1;
  --_11hoq0qv: #3e8fe0;
  --_11hoq0qw: #aa83f2;
  --_11hoq0qx: #3d4b63;
  --_11hoq0qy: #f6f8fa;
  --_11hoq0qz: #000;
  --_11hoq0q10: #828ea4;
  --_11hoq0q11: #fa6b6c;
  --_11hoq0q12: #3e8fe0;
  --_11hoq0q13: #28b888;
  --_11hoq0q14: rgba(0, 0, 0, .15);
  --_11hoq0q15: #3e8fe0;
  --_11hoq0q16: #195546;
  --_11hoq0q17: #4c1a20;
  --_11hoq0q18: #1c2230;
  --_11hoq0q19: #0f131b;
  --_11hoq0q1a: #0a0c11;
  --_11hoq0q1b: rgba(41,111,192,0.15);
  --_11hoq0q1c: #1c2230;
  --_11hoq0q1d: 0 0 10px -2px #2d3648;
  --_11hoq0q1e: 0 0 0 5px rgba(104,174,234,0.4);
}
._11hoq0q1f {
  position: absolute;
}
._11hoq0q1g {
  position: relative;
}
._11hoq0q1h {
  position: fixed;
}
._11hoq0q1i {
  top: 0;
}
._11hoq0q1j {
  bottom: 0;
}
._11hoq0q1k {
  left: 0;
}
._11hoq0q1l {
  right: 0;
}
._11hoq0q1m {
  display: none;
}
._11hoq0q1n {
  display: flex;
}
._11hoq0q1o {
  display: block;
}
._11hoq0q1p {
  display: inline;
}
._11hoq0q1q {
  flex-direction: row;
}
._11hoq0q1r {
  flex-direction: column;
}
._11hoq0q1s {
  flex-direction: row-reverse;
}
._11hoq0q1t {
  flex-wrap: wrap;
}
._11hoq0q1u {
  justify-content: stretch;
}
._11hoq0q1v {
  justify-content: flex-start;
}
._11hoq0q1w {
  justify-content: center;
}
._11hoq0q1x {
  justify-content: flex-end;
}
._11hoq0q1y {
  justify-content: space-around;
}
._11hoq0q1z {
  justify-content: space-between;
}
._11hoq0q20 {
  align-items: stretch;
}
._11hoq0q21 {
  align-items: flex-start;
}
._11hoq0q22 {
  align-items: center;
}
._11hoq0q23 {
  align-items: flex-end;
}
._11hoq0q24 {
  padding-top: var(--_11hoq0qi);
}
._11hoq0q25 {
  padding-top: var(--_11hoq0qj);
}
._11hoq0q26 {
  padding-top: var(--_11hoq0qk);
}
._11hoq0q27 {
  padding-top: var(--_11hoq0ql);
}
._11hoq0q28 {
  padding-top: var(--_11hoq0qm);
}
._11hoq0q29 {
  padding-top: var(--_11hoq0qn);
}
._11hoq0q2a {
  padding-top: var(--_11hoq0qo);
}
._11hoq0q2b {
  padding-top: var(--_11hoq0qp);
}
._11hoq0q2c {
  padding-bottom: var(--_11hoq0qi);
}
._11hoq0q2d {
  padding-bottom: var(--_11hoq0qj);
}
._11hoq0q2e {
  padding-bottom: var(--_11hoq0qk);
}
._11hoq0q2f {
  padding-bottom: var(--_11hoq0ql);
}
._11hoq0q2g {
  padding-bottom: var(--_11hoq0qm);
}
._11hoq0q2h {
  padding-bottom: var(--_11hoq0qn);
}
._11hoq0q2i {
  padding-bottom: var(--_11hoq0qo);
}
._11hoq0q2j {
  padding-bottom: var(--_11hoq0qp);
}
._11hoq0q2k {
  padding-left: var(--_11hoq0qi);
}
._11hoq0q2l {
  padding-left: var(--_11hoq0qj);
}
._11hoq0q2m {
  padding-left: var(--_11hoq0qk);
}
._11hoq0q2n {
  padding-left: var(--_11hoq0ql);
}
._11hoq0q2o {
  padding-left: var(--_11hoq0qm);
}
._11hoq0q2p {
  padding-left: var(--_11hoq0qn);
}
._11hoq0q2q {
  padding-left: var(--_11hoq0qo);
}
._11hoq0q2r {
  padding-left: var(--_11hoq0qp);
}
._11hoq0q2s {
  padding-right: var(--_11hoq0qi);
}
._11hoq0q2t {
  padding-right: var(--_11hoq0qj);
}
._11hoq0q2u {
  padding-right: var(--_11hoq0qk);
}
._11hoq0q2v {
  padding-right: var(--_11hoq0ql);
}
._11hoq0q2w {
  padding-right: var(--_11hoq0qm);
}
._11hoq0q2x {
  padding-right: var(--_11hoq0qn);
}
._11hoq0q2y {
  padding-right: var(--_11hoq0qo);
}
._11hoq0q2z {
  padding-right: var(--_11hoq0qp);
}
._11hoq0q30 {
  margin-top: var(--_11hoq0qi);
}
._11hoq0q31 {
  margin-top: var(--_11hoq0qj);
}
._11hoq0q32 {
  margin-top: var(--_11hoq0qk);
}
._11hoq0q33 {
  margin-top: var(--_11hoq0ql);
}
._11hoq0q34 {
  margin-top: var(--_11hoq0qm);
}
._11hoq0q35 {
  margin-top: var(--_11hoq0qn);
}
._11hoq0q36 {
  margin-top: var(--_11hoq0qo);
}
._11hoq0q37 {
  margin-top: var(--_11hoq0qp);
}
._11hoq0q38 {
  margin-bottom: var(--_11hoq0qi);
}
._11hoq0q39 {
  margin-bottom: var(--_11hoq0qj);
}
._11hoq0q3a {
  margin-bottom: var(--_11hoq0qk);
}
._11hoq0q3b {
  margin-bottom: var(--_11hoq0ql);
}
._11hoq0q3c {
  margin-bottom: var(--_11hoq0qm);
}
._11hoq0q3d {
  margin-bottom: var(--_11hoq0qn);
}
._11hoq0q3e {
  margin-bottom: var(--_11hoq0qo);
}
._11hoq0q3f {
  margin-bottom: var(--_11hoq0qp);
}
._11hoq0q3g {
  margin-left: var(--_11hoq0qi);
}
._11hoq0q3h {
  margin-left: var(--_11hoq0qj);
}
._11hoq0q3i {
  margin-left: var(--_11hoq0qk);
}
._11hoq0q3j {
  margin-left: var(--_11hoq0ql);
}
._11hoq0q3k {
  margin-left: var(--_11hoq0qm);
}
._11hoq0q3l {
  margin-left: var(--_11hoq0qn);
}
._11hoq0q3m {
  margin-left: var(--_11hoq0qo);
}
._11hoq0q3n {
  margin-left: var(--_11hoq0qp);
}
._11hoq0q3o {
  margin-right: var(--_11hoq0qi);
}
._11hoq0q3p {
  margin-right: var(--_11hoq0qj);
}
._11hoq0q3q {
  margin-right: var(--_11hoq0qk);
}
._11hoq0q3r {
  margin-right: var(--_11hoq0ql);
}
._11hoq0q3s {
  margin-right: var(--_11hoq0qm);
}
._11hoq0q3t {
  margin-right: var(--_11hoq0qn);
}
._11hoq0q3u {
  margin-right: var(--_11hoq0qo);
}
._11hoq0q3v {
  margin-right: var(--_11hoq0qp);
}
._11hoq0q3w {
  overflow: hidden;
}
._11hoq0q3x {
  overflow: auto;
}
._11hoq0q3y {
  box-shadow: var(--_11hoq0q1d);
}
._11hoq0q3z {
  box-shadow: var(--_11hoq0q1e);
}
._11hoq0q40 {
  border-radius: var(--_11hoq0q9);
}
._11hoq0q41 {
  border-radius: var(--_11hoq0qa);
}
._11hoq0q42 {
  border-radius: var(--_11hoq0qb);
}
._11hoq0q43 {
  border-radius: var(--_11hoq0qc);
}
._11hoq0q44 {
  transition: var(--_11hoq0qf);
}
._11hoq0q45 {
  transition: var(--_11hoq0qg);
}
._11hoq0q46 {
  transition: var(--_11hoq0qh);
}
._11hoq0q47 {
  cursor: pointer;
}
._11hoq0q48 {
  pointer-events: none;
}
._11hoq0q49 {
  pointer-events: auto;
}
._11hoq0q4a {
  user-select: none;
}
._11hoq0q4b {
  appearance: none;
}
._11hoq0q4c {
  opacity: 0;
}
._11hoq0q4d {
  z-index: 0;
}
._11hoq0q4e {
  z-index: 1;
}
._11hoq0q4f {
  font: var(--_11hoq0q2);
}
._11hoq0q4g {
  font: var(--_11hoq0q3);
}
._11hoq0q4h {
  font: var(--_11hoq0q4);
}
._11hoq0q4i {
  font: var(--_11hoq0q5);
}
._11hoq0q4j {
  font-weight: var(--_11hoq0q6);
}
._11hoq0q4k {
  font-weight: var(--_11hoq0q7);
}
._11hoq0q4l {
  width: 100%;
}
._11hoq0q4m {
  width: 100vw;
}
._11hoq0q4n {
  height: 100%;
}
._11hoq0q4o {
  height: 100vh;
}
._11hoq0q4p {
  white-space: nowrap;
}
._11hoq0q4q {
  box-sizing: border-box;
}
._11hoq0q4r {
  text-align: center;
}
._11hoq0q4s {
  text-align: left;
}
._11hoq0q4t {
  text-align: right;
}
._11hoq0q4u {
  border: 0;
}
@keyframes _1i346gy4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1i346gy1 {
  z-index: 100;
  background: var(--_11hoq0q18);
  color: var(--_11hoq0qz);
}
._1i346gy3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1i346gy4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1i346gy5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._16egycz1 {
  color: var(--_11hoq0qy);
}
._16egycz2 {
  color: var(--_11hoq0q11);
}
._16egycz9 {
  text-overflow: ellipsis;
}
